.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
}
.main .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 100%;
  height: 100vh;
  font-family: 'Bad Script', cursive;
  font-size: 40px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.main .item:hover {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main .element1 {
  background: url(../img/a-1.jpg) center center no-repeat;
  background-size: cover;
}
.main .element2 {
  background: url(../img/b-2.jpg) center center no-repeat;
  background-size: cover;
}
.main .element3 {
  background: url(../img/c-3.jpg) center center no-repeat;
  background-size: cover;
}
.main .element4 {
  background: url(../img/d-4.jpg) center center no-repeat;
  background-size: cover;
}
@media (max-width: 640px) {
  .main {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .item {
    width: 100%;
  }
  .item:hover {
    -webkit-box-flex: 30%;
        -ms-flex-positive: 30%;
            flex-grow: 30%;
  }
}
